@import './../../../../assets/styles/colors.scss';
@import './../../../../styles.scss';

header {

    .top-hedaer-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        height: 50px;
        border-bottom: 1px solid $dashboardBorderColor;

        .user-info {
            display: flex;
            align-items: center;
            font-size: 13px;

            .user-account {
                opacity: 0.4;
            }

            .user-avatar {
                img {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    margin: 0 8px;
                }
            }

            .bottom-arrow-svg {
                cursor: pointer;
            }
        }
    }
}