@import './../../../assets/styles/colors.scss';
@import './../../../styles.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.compensation-page-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;

  .left-menu {
    width: 13%;
    min-width: 160px;
    background: $white;
    border-right: 1px solid $menuBorderColor;
    box-sizing: border-box;
    min-height: calc(100vh - 91px);
  }

  .main-page {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: $white;

    app-left-arrow-svg {
      margin-left: 10px;
    }

    header {
      background-color: $menuHeaderBackgroundColor;
      line-height: 45px;
      font-size: 16px;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      padding: 0 15px;

      span {
        margin-left: 15px;
      }
    }
  }
}

//mat tab styles
.compensation-page-wrapper .main-page {
  ::ng-deep .mat-ink-bar {
    background-color: $matLinkColor;
  }

  ::ng-deep .mat-tab-label {
    height: 36px !important;
    opacity: 1;
  }

  ::ng-deep .mat-tab-header {
    background: $white;
  }

  ::ng-deep .mat-tab-labels {
    border-bottom: 1px solid $menuBorderColor;
    color: $matTabLabelColor;
  }

  ::ng-deep .mat-tab-body-content {
    box-shadow: none !important;
  }
}

::ng-deep .mat-icon-rtl-mirror {
  color: $matIconMirrorColor;
  font-size: 7px;
}

@media (max-width: 560px) {
  .left-menu {
    display: none;
  }
}
