<div class="compensation-page-wrapper">
  <div class="left-menu"><app-nav-menu></app-nav-menu></div>

  <div class="main-page">
    <header>
      <span>Brian Brandsgard</span>
      <div class="search">
        Search for a user
        <app-left-arrow-svg></app-left-arrow-svg>
      </div>
    </header>

    <mat-tab-group>
      <mat-tab label="Package">
        <app-payee-package
          *ngIf="teamPayeeData?.portalPackage"
          [payeeData]="teamPayeeData.portalPackage"
        ></app-payee-package>
      </mat-tab>

      <mat-tab label="Payment">Payment</mat-tab>

      <mat-tab label="Profile">Profile</mat-tab>
    </mat-tab-group>
  </div>
</div>
