<app-header></app-header>

<section class="bottom-section">
  <mat-tab-group>

    <mat-tab label="Dashboard">
      <div class="mat-tab-content">
        <div class="page-wrapper">
          <app-dashboard-page></app-dashboard-page>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Compensation">
      <div class="mat-tab-content">
        <div class="page-wrapper">
          <app-compensation-page></app-compensation-page>
        </div>
      </div>
    </mat-tab>

  </mat-tab-group>
</section>