@import './../../../assets/styles/colors.scss';
@import './../../../styles.scss';

.bottom-section {
  background: $mainDashboardBackgroundColor;
  height: calc(100% - 51px);

  .mat-tab-content {
    height: calc(100vh - 87px);
    overflow-y: auto;
  }
}

/*styles for mat-tabs*/
.bottom-section {
  ::ng-deep .mat-ink-bar {
    display: none;
  }

  ::ng-deep mat-tab-header {
    border: none;
  }

  ::ng-deep .mat-tab-label {
    height: 36px !important;
    opacity: 1 !important;
    font-size: 13px !important;
  }

  ::ng-deep .mat-tab-label-active {
    border-bottom: 2px solid $matLinkColor;
    background: $ligthBlueBackgroundColor;
  }

  ::ng-deep .mat-tab-header {
    background: $white;
  }

  ::ng-deep .mat-tab-body-content {
    @include bottom-shadow();
  }
}
