$dashboardBorderColor: rgba(0, 0, 0, 0.1);
$matLinkColor: #448AFF;
$boxShadow1: rgba(0, 0, 0, 0.16);
$mainDashboardBackgroundColor: #F2F2F2;
$white: white;
$greyTextColor: rgba(0, 0, 0, 0.5);
$darkTextColor: rgba(0, 0, 0, 0.8);
$greySoftTextColor: rgba(0, 0, 0, 0.7);
$menuHeaderBackgroundColor: rgba(0, 0, 0, 0.06);
$ligthBlueBackgroundColor: rgb(244,248,255);
$menuBorderColor: rgba(0, 0, 0, 0.2);