$dashboardBorderColor: rgba(0, 0, 0, 0.1);
$matLinkColor: #448aff;
$boxShadow1: rgba(0, 0, 0, 0.16);
$mainDashboardBackgroundColor: #f2f2f2;
$white: white;
$greyTextColor: rgba(0, 0, 0, 0.5);
$darkTextColor: rgba(0, 0, 0, 0.8);
$greySoftTextColor: rgba(0, 0, 0, 0.7);
$menuHeaderBackgroundColor: rgba(0, 0, 0, 0.06);
$ligthBlueBackgroundColor: rgb(244, 248, 255);
$menuBorderColor: rgba(0, 0, 0, 0.1);
$tableBorderColor: #e5e5e5;
$tableHeaderColor: #000000;
$dateTableLabelColor: rgb(147, 147, 147);
$matTabLabelColor: rgba(0, 0, 0, 0.8);
$matIconMirrorColor: rgb(179, 179, 179);
